*{
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url("./Assets/background-image.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    margin: auto;
    max-width: 1440px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}


.nav-bar > ul{
    display: flex;
    gap: 20px;
}

.nav-bar ul a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-bar ul li{
    list-style: none;
}
.search-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
#search-btn{
    color: white;
    background-color: #ED017F;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
}
